// out: ../css/main.css, sourcemap: true, compress: true
@yel:rgb(237, 195, 41);
@blu:#2953ED;
@dark:#0c032f;
@gre:#4d4d4d;
@whi:#f5f6f0;

.font-face{
	font-family: 'Futura','sans-serif';
	src: url(Futura.ttc);
}

.CC{
	font-family:'Microsoft JhengHei';

}

.textStroke{
	-webkit-text-stroke: 3px #000;

}




// @media print{
// 	#svg1{
// 		width:297mm;
// 		height:420mm;
// 	}
// }


body{
	height: 100%;
	padding: 0;
	margin: 0;
	padding-bottom:300px;
	.font-face;
	background-color: #ffffff;
	scroll-behavior:smooth;

}



body::-webkit-scrollbar, #giveBox ul::-webkit-scrollbar {
    width: .5em;
    height: .1px;
}

body::-webkit-scrollbar-track {
  //  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

body::-webkit-scrollbar-thumb,#giveBox ul::-webkit-scrollbar-thumb{
  background-color: darken(@yel,20%);
  outline: 1px solid slategrey;
}



#intro{
	width:50vw;
	height: 70vh;
	position: absolute;
	left: 25vw;
	top:0%;
	z-index: 50;
	text-align: center;

	#introData{
		display: block;
		position: absolute;
		// width: 150px;
		left: 45%;
		top: 30vh;
		.introDataBtn{
			color: @whi;
			background-color:@blu;
			display: block;
			padding: 10px 20px;
			transition: 1s;
			cursor:pointer;
			&:hover{
				background-color: darken(@blu,20%);
			}
		}
	}
	#beginSvg{
		width:100%;
	}
}

#navBox{
	z-index: 20;
	#logo{
		height:100vh;
		background-color:@yel;
		overflow: hidden;
		h1{
			margin-top: 20px;
			color: @whi;
	}
	#poemTitleHead,#poemAuthorHead{
		color:@gre;
		margin-top: 20px;
		margin-left: 20px;
		font-size: 1.3em;
	}
	#poem{
		padding-right: 50px;
		margin-top: 3vh;
		height: 50vh;
		overflow: hidden;
		z-index: 10;
		.sentences{
			margin: 20px 0;
		}
		.poemWords{
			cursor: pointer;
			display: inline-block;
			color: @yel;
			font-size: 1.5em;
			margin: 5px;
		}
	}
	#bigTone{
		opacity: 0;
		top: 5vh;
		right: 5vw;
		height: 5vh;
		width: 20vw;
		.toneSymbol{
			width: 100%;
			height: 100%;
			position: absolute;
			display: block;
			background-color: lighten(@gre,10%);
			@media screen and (max-width: 1068px){
			height: 30%;
		}
		}
	}
	#bigWord{
		opacity: 0;
		color: @gre;
		font-size: 25vw;
		top: 1vh;
		right: -15vw;
		text-align: center;
		z-index: 5;
		@media screen and (max-width: 1068px){
			font-size: 90vw;
			top:20vh;
			right:0;
		}
	}

	#bigTrans{
		position: absolute;
		right:12vw;
		top:70vh;
		font-size: 1.5em;
		color:lighten(@gre,5%);
		text-align: right;
	}

	#wordData{

		bottom: 5vh;
		//left: 5vw;
		z-index: 19;
	}

	#nextBtn{
		z-index: 20;
		position: absolute;
		bottom: 0;
		right: 0;
		text-align: right;
	}

	}
	#navImg{
		padding:0;
		left:20%;
	}

	#trans{
		margin-top: 50px;
		font-size: 1.2em;
	}

	.control{
	//top:20%;
	margin-top: 30px;
	margin-bottom: 5%;
	padding: 10px 30px 10px 30px;
	//border:0.5px solid @gre;
	z-index: 99;
	#inp1{
	height: 50px;
	background-color:@yel;
	color:@dark;
	.CC;
	padding: 5px 25px;
	font-size: 20px;
	//border-radius: 50px;
	border:1px solid @whi;

	}
}
}

#drawing{
	overflow: hidden;
}


#svgBox{
	padding:0;
	margin-top: 0px;
	margin-bottom: 50px;
	top:10%;
	z-index: 2;
}
#svg1{
	padding: 10px;
	margin: 0 auto;
	z-index: -2;
	background-color:@whi;
	//border:2px solid @gre;

}


#btnBox{
	margin-top: 15px;
}

.btn{
	padding: 5px 5px;
	//border-radius: 50px;
	border: 2px solid @gre;
	margin-top: 15px;
	color:@dark;
	&:active{
		background-color: darken(@yel,10%);
	}
	&:hover{
		background-color: @yel;
	}

}
#btn2{
	margin-left: 5px;
	border:@dark 2px solid;
}


#showBtn1,#showBtn2{
	padding: 5px 5px;
	margin-top: 5px;
	border-radius: 10px;
	border: 2px solid @gre;
	color:@dark;
	background-color: @whi;
	transition: .5s;
	&:hover{
		background-color: @yel;
	}
}

#botInfo{
	margin-top: 10px;
	padding: 10px;
	//border: @gre .5px solid;
	background-color:@whi;
}

#sel1{
	border:1px solid grey;
	border-right:50px solid grey;
	border-radius:25px;
	margin-top: 5px;

	background: none;
}

.gaImg{
	margin-top: 50px;
	//padding: 10px;
	//height: 200px;
	cursor:pointer;
	transition: 1.5s;
	&:hover{
		transition: 0.5s;
		transform: translateY(-10px)
	}
}
.viewImg{
	background-color:rgba(19, 18, 18, 0.7);
	opacity: .7;
	position: fixed;
	height: 100vh;
	width: 100vw;
	padding: 2%;
	top: 0;
	z-index: 99;

	img{
		margin-left:10vw;
		height: 80vh;
		opacity: .7;
		float: left;
	}

	#closeImg{
		width: 50px;
		height: 50px;
		margin-left: 15px;
		float: left;
		span{
			display: block;
			width:96%;
			height: 2px;
			border-radius: 50px;
			background-color: @gre;

		}
		#span1{
			transform: rotate(-45deg)
		}
		#span2{
			transform: rotate(45deg) translateY(-1.5px)
		}
		&:hover{
			#span1{
				@keyframes mymove {
    				from {transform:rotate(45deg);}
    				to {transform:rotate(-45deg);}
				}
				animation: mymove 1s forwards;
			}
			#span2{
				@keyframes mymove2 {
					from {transform:rotate(0deg);
					width:100%;}
					to {transform:rotate(-45deg);
					width:0%;}
				}
				animation: mymove2 1s forwards;
			}
			background-color: @yel;
		}
	}
	@media screen and (max-width: 1068px) {
		img{
		margin-left:0vw;
		height: 90vh;

		}
		#closeImg{
		margin:4%;
		position:absolute;
		top:0;
		right: 0;

		}
	}
}








.printWord{
	width: 70%;
	color:grey;
	font-size:.8em;
}



#container{
	width: 80%;
	margin: 0 auto;
}

//-----------



.fH{
	&:after{
		content:".";
        display:block;
        height:0;
        clear:left;
        visibility:hidden;
	}
}

.holder{
	height: 20vh;
}
