// out: ../css/main.css, sourcemap: true, compress: true
@yel:#EDC329;
@dark:#0c032f;
@gre:#4d4d4d;
@whi:#f5f6f0;

.font-face{
	font-family: 'Futura','sans-serif';
	src: url(Futura.ttc);
}

.CC{
	font-family:'Microsoft JhengHei';
	
}

.textStroke{
	-webkit-text-stroke: 3px #000;
	
}




// @media print{
// 	#svg1{
// 		width:297mm;
// 		height:420mm;
// 	}
// }


body{
	
	padding: 0;
	margin: 0;
	padding-bottom:300px;
	.font-face;
	background-color: #ffffff;
	scroll-behavior:smooth;

}



body::-webkit-scrollbar, #giveBox ul::-webkit-scrollbar {
    width: 0.1em;
    height: 1px;
}

body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

body::-webkit-scrollbar-thumb,#giveBox ul::-webkit-scrollbar-thumb{
  background-color: red;
  outline: 1px solid slategrey;
}




#navBox{
	#logo{
		height:100vh;
		background-color:@yel;
		overflow: hidden;
		h1{
		color: @whi;
	}
	#poemTitleHead,#poemAuthorHead{
	}
	#poem{
		margin-top: 27vh;
		z-index: 10;
		.sentences{
			margin: 30px 0;
		}
		.poemWords{
			display: inline-block;
			color: @yel;
			font-size: 1.5em;
			margin: 5px;
		}
	}
	#bigTone{
		opacity: 0;
		top: 5vh;
		right: 15vw;
		height: 5vh;
		width: 20vw;
		.toneSymbol{
			width: 100%;
			height: 100%;
			position: absolute;
			display: block;
			background-color: @gre;
		}
	}
	#bigWord{
		opacity: 0;
		color: @gre;
		font-size: 30vw;
		top: 1vh;
		right: -5vw;
		text-align: center;
		z-index: 5;
	}

	#wordData{
		
		bottom: 5vh;
		left: 5vw;
		z-index: 99;
	}

	}
	#navImg{
		padding:0;
		left:20%;
	}
	
	#trans{
		margin-top: 250px;
		font-size: 1.2em;
	}

	.control{
	//top:20%;
	margin-top: 150px;
	margin-bottom: 5%;
	padding: 10px 30px 10px 30px;
	//border:0.5px solid @gre;
	z-index: 99;
	#inp1{
	height: 50px;
	background-color:@yel;
	color:@dark;
	.CC;
	padding: 5px 25px;
	font-size: 20px;
	//border-radius: 50px;
	border:1px solid @whi;

	}
}
}

#drawing{
	overflow: hidden;
}


#svgBox{
	padding:0;
	margin-top: 0px;
	top:10%;
	z-index: 2;
}
#svg1{
	padding: 10px;
	margin: 0 auto;
	z-index: -2;
	background-color:@whi;
	//border:2px solid @gre;

}





#btnBox{
	margin-top: 15px;
}

.btn{
	padding: 5px 5px;
	//border-radius: 50px;
	border: 2px solid @gre;
	margin-top: 15px;
	color:@dark;
	&:active{
		background-color: darken(@yel,10%);
	}
	&:hover{
		background-color: @yel;
	}
	
}
#btn2{
	margin-left: 5px;	
}


#showBtn1,#showBtn2{
	padding: 5px 5px;
	margin-top: 5px;
	border-radius: 10px;
	border: 2px solid @gre;
	color:@dark;
	background-color: @whi;
	transition: .5s;
	&:hover{
		background-color: @yel;
	}
}

#botInfo{
	margin-top: 10px;
	padding: 10px;
	//border: @gre .5px solid;
	background-color:@whi;
}

#sel1{
	border:1px solid grey;
	border-right:50px solid grey;
	border-radius:25px;
	margin-top: 5px;

	background: none;
}
	
.gaImg{
	margin-top: 15px;
}

	





.showValue{
	display: inline-block;
}

.btn-pause{
	background-color: red;
}
.btn-render{
	background-color: blue;
}
.btn-auto{
	background-color: green;
}
.btn-reC{
	margin-left: 20px;
}
.btn-slider{
	margin-left: 20px;
	transform: translateY(3px);
}



.printWord{
	width: 70%;
	color:grey;
	font-size:.8em;
}



#container{
	width: 80%;
	margin: 0 auto;
}

//-----------



.fH{
	&:after{
		content:".";
        display:block;
        height:0;
        clear:left;
        visibility:hidden;
	}
}
